[slot='drawer'] {
  background-image: linear-gradient(0deg, var(--lumo-shade-5pct), var(--lumo-shade-5pct));
}

[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
}

[slot='drawer'] nav a .la {
  margin-top: calc(var(--lumo-space-xs) * 0.5);
}

[slot='drawer'] nav a::before {
  border-radius: var(--lumo-border-radius);
  bottom: calc(var(--lumo-space-xs) * 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--lumo-space-xs) * 0.5);
  transition: background-color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: var(--lumo-primary-text-color);
}

[slot='drawer'] nav a[highlight]::before {
  background-color: var(--lumo-primary-color-10pct);
}

[slot='drawer'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}

.contrast-5pct {
  background-color: var(--lumo-contrast-5pct);
}
.contrast-10pct {
  background-color: var(--lumo-contrast-10pct);
}
.contrast-20pct {
  background-color: var(--lumo-contrast-20pct);
}
.contrast-30pct {
  background-color: var(--lumo-contrast-30pct);
}
.contrast-40pct {
  background-color: var(--lumo-contrast-40pct);
}
.contrast-50pct {
  background-color: var(--lumo-contrast-50pct);
}
.contrast-60pct {
  background-color: var(--lumo-contrast-60pct);
  color: var(--lumo-base-color);
}
.contrast-70pct {
  background-color: var(--lumo-contrast-70pct);
  color: var(--lumo-base-color);
}
.contrast-80pct {
  background-color: var(--lumo-contrast-80pct);
  color: var(--lumo-base-color);
}
.contrast-90pct {
  background-color: var(--lumo-contrast-90pct);
  color: var(--lumo-base-color);
}
.contrast {
  background-color: var(--lumo-contrast);
  color: var(--lumo-base-color);
}

@media (max-width: 260px) {
  .toolbar vaadin-button {
    display: none;
  }
}